.breadcrumbs-content fa{
    font-size: var(--font-size-s);
    font-weight: var(--font-regular);
    color: var(--color-breadcrumbs);
}

.custom-layout-top .content-breadcrumbs{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.breadcrumbs-item {
    align-items: center;
    color: var(--color-breadcrumbs);
    opacity: 0.3;
}