.custom-layout-side.layout-side .aside-navigation .app-menu-content {
    background-color: var(--color-primary);
    width: var(--side-menu-open-size);
    min-width: var(--side-menu-open-size);
    border-radius: var(--border-radius-none) var(--border-radius-rounded)  var(--border-radius-rounded) var(--border-radius-none) ;
    transition: 0.2s ease-in-out;
}

//isto é o overlay que aparece quando o menu lateral esta aberto, para clicar e fechar o menu
.custom-layout-side.layout-side .aside-overlay.is-hidden {
    display: none;
}
.custom-layout-side.layout-side .aside-overlay.is-active {
    display: block;
    position: fixed;
    top: 0;
    left: var(--side-menu-open-size);
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 999;
}

.custom-layout-side.layout-side .aside-navigation .app-menu-content.is-collapsed  {
  background-color: var(--color-primary);
  width: var(--custom-side-menu-size);
  min-width: var(--custom-side-menu-size);           
  border-radius: var(--border-radius-none) var(--border-radius-rounded)  var(--border-radius-rounded) var(--border-radius-none) ;
  transition: 0.2s ease-in-out;
}


.custom-layout-side.layout-side .aside-navigation .fa{
    color: var(--color-neutral-0);
}

.custom-layout-side.layout-side .aside-navigation .app-menu-links {
    padding: var(--space-none) var(--space-m) var(--space-none);
    margin-top: 153px;
}

.custom-layout-side.layout-side .aside-navigation .app-login-info {
    padding: var(--space-none) var(--space-l) var(--space-l);
}

.custom-layout-side.layout-side .aside-navigation .btn .fa {
    margin: 0px;
}

.custom-layout-side.layout-side .header-logo{
    padding: var(--space-base) var(--space-base);
    gap: var(--space-base);
}