.custom-layout-side.layout.layout-side .toggle{
  position: absolute;
  right: 0px;
  top: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 80px;
  background: var(--color-neutral-0);
  border-radius: 32px 0px 0px 32px;
  padding: var(--space-m)  var(--space-s) var(--space-m) var(--space-s);
  color: var(--color-primary);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.custom-layout-side.layout.layout-side.aside-is-open .toggle {
    right: 390px;
    top: 72px;
    transition: 0.2s ease-in-out;
}

.custom-layout-side.layout.layout-side.aside-is-open.sidebarwrapper{
  gap: var(--space-m);
  display: flex;
  flex-direction: column;
  padding: var(--space-xl) var(--space-l) var(--space-xl) var(--space-l);
  width: 390px;
  position: relative;
  overflow: visible;
  transition: 0.2s ease-in-out;

  &--collapsed{
  width: 0;
  padding: 0;
  overflow: visible;
  position: relative;
}
}