.custom-layout-top .header{
    background-color: var(--color-primary);
    display: flex;
    gap: var(--space-l);
    border-radius: var(--border-radius-none) var(--border-radius-none)  var(--border-radius-rounded) var(--border-radius-rounded)   ;
    color: var(--color-neutral-0);
}

.custom-layout-top.layout.layout-top .header-navigation .app-menu-links a {
    color: white;
}

.custom-layout-top .content-top-title, .custom-layout-side .content-top-title {
    display: flex;
    align-items: center;
    font-size: var(--font-size-h1);
    color: var(--color-primary);
    font-weight: var(--font-medium);
}