.custom-layout-top .header{
    background-color: var(--color-primary);
    display: flex;
    gap: var(--space-l);
    border-radius: var(--border-radius-none) var(--border-radius-none)  var(--border-radius-rounded) var(--border-radius-rounded)   ;
    color: var(--color-neutral-0);
}

.custom-layout-top.layout.layout-top .header-navigation .app-menu-links a {
    color: white;
}

.custom-layout-top .content-top-title {
    display: flex;
    align-items: center;
    font-size: var(--font-size-h1);
    color: var(--color-primary);
    font-weight: var(--font-medium);
}

.custom-layout-top .content-breadcrumbs{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

//wrapper para o titulo e os breadcrumbs
.custom-layout-top .titleswrapper{
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.custom-layout-top .titlesbtnswrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-layout-top .btns{
    display: flex;
    gap: var(--space-base);
}