.customblockicon{
    display:flex;
    align-items:center;
    gap:var(--space-s);
    color:var(--color-neutral-9);
    font-weight:var(--font-bold);

    &.clear-text{
        color: var(--color-clear-text);
        font-weight: var(--font-regular);
    }
}