.customcard {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  padding: var(--space-m);
  width: 100%;
  overflow: hidden;
  background-color: var(--card-color);
  border-radius: var(--border-radius-rounded);

  &.has-spacer {
    .content {
      border-top: 1px solid var(--color-neutral-4);
      padding-top: var(--space-m);
      margin-top: var(--space-s);
      display: flex;

      color: var(--color-neutral-9);
      font-weight: var(--font-bold);
    }
  }
}

.customcard__footer {
  margin-top: auto; 

  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h6);

  .btn, button {
    width: 100%;
  }

  .btn--pill {
    border-radius: var(--border-radius-pill);
  }
}