html, body{
  font-family:Raleway, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


.custom-layout-side .main {
    margin-right: 0; 
    transition: margin-right 0.3s ease-in-out;
}

.custom-layout-side.layout.layout-side{
    background-color: var(--main-bg-color);
}

.custom-layout-side.layout.layout-side .main {
    margin-left: var(--custom-side-menu-size);
    background-color: var(--sidemenu-bg-color);
}

.custom-layout-side.aside-is-open .main {
    margin-right: var(--sidebar-open-size);
}

//phone or tablet
.tablet .custom-layout-side.layout.layout-side .main,
.phone .custom-layout-side.layout.layout-side .main {
    margin-left: 0px;
    background-color: var(--sidemenu-bg-color);
}

.tablet .custom-layout-side.aside-is-open .main, 
.phone .custom-layout-side.aside-is-open .main {
    margin-right: 0px;
}




.content-top-title{
    margin-bottom: var(--space-none);
}

.custom-layout-side.layout.layout-side .main-content{
    background-color: var(--main-bg-color);
    border-radius: var(--border-radius-none) calc(var(--border-radius-rounded) * 2) calc(var(--border-radius-rounded) * 2) var(--border-radius-none);
    min-height: 100vh;
}

.phone .custom-layout-side.layout.layout-side .main-content {
    border-radius: var(--border-radius-none);
}

.phone .layout-side .header-navigation {
    display: flex;
}